@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'mixins';

@import 'variables';

body{
    background-color: $color1;
    color: $color4;
}

.view{
    width: 100%; min-height: 100vh;
    
    @include container-fixed;
    
}

@import './views/home';
@import './views/work';
@import './views/contact';