.contact{
    
    position: relative;
    
    h2{
        font-size: 4em;
        text-align: center;
        margin-top: 5vh;
    }
    
    .social{
        
        .elmt{
            
            @include make-xs-column(6);
            
            @include make-sm-column(3);
            
            @include make-md-column-push(2);
            @include make-md-column(2);
            
            text-align: center;
            
            margin-top: 15vh;
            
            @media (min-width: 992px) {
            
                margin-top: 20vh;
            
            }
            
            p{
                display: none;
                
                @media (min-width: 992px) {
                    display: block;
                }
            }
            
            img{
                width: 50%; height: auto;
                margin-bottom: 1vh;
            }
            
            a img{
                @include transition(all, .2s, ease-in-out);
                opacity: 1;
                @include transform(scale3d(1,1,1));
                
                &:hover{
                    @include transition(all, .4s, ease-in-out);
                    opacity: 0.8;
                    @include transform(scale3d(1.1,1.1,1));
                }
                
            }
            
        }
        
    }
    
    .resume{
        
        margin-top: 10vh;
        
        @include make-xs-column(12);
        
        text-align: center;
        
    }
    
    
    #copyrights{
        position: absolute;
        @include transform(translateX(-50%));
        text-align: center;
        width: 100%;
        bottom: 0px; left: 50%;
    }
    
    @media (min-width: 992px) {
        #copyrights{
            bottom: 30px;
        }
    }
    
    
}