.home{
    
    background: url('../img/homeBg.png') no-repeat center;
    @include background-size(cover);
    
    .intro{
        
        @include transform(translateY(-50%));
        margin-top: 50vh;
        
        @include make-xs-column(12);
        
        @include make-md-column-push(3);
        @include make-md-column(6);
        
        text-align: center;
        
        hr{
            width: 60%;
        }
        
        h1, h2{
            line-height: 0.8;
            font-variant: small-caps;
        }
        
        h1{font-size: 6em;}
        
        h2{font-size: 5em;}
        
        @media (min-width: 992px) {
            
            h1, h2{
                line-height: 0.6;
            }
            
        }      
        
        
    }
    
}