.work{
    
    position: relative;
    overflow: hidden;
    
    font-size: 1.2em;
    
    h2{
        font-size: 3em;
    }
    
    .left-side{
        display: none;
    
        @include make-md-column-push(1);
        @include make-md-column(5);
        
        height: 85vh; margin-top: 7.5vh;
            
        img{
            position: absolute;
        }
        
        .workBg{
            display: none;
        }
        
        .workLaptop1{
            top: 4vh; left: -20px;
        }
        
        .workLaptop2{
            bottom: 4vh; right: -20px;
        }
        
        @media (min-width: 992px) {
            
            display: block;
        
        }
    
    }
    .right-side{
        
        @include make-xs-column(12);
        
        @include make-md-column-push(1);
        @include make-md-column(5);
        
        .presentation{
            
            @include make-xs-column(11);
            
            @include make-md-column-offset(-1);
            
            z-index: 15;
            
            margin-top: 10vh;
            
            background-color: $color2;
            
            @media (min-width: 992px) {
                margin-top: 20vh;
            }
            
        }
        
        .pattern{
            @include make-xs-column-push(1);
            @include make-xs-column(11);
            
            
            @include make-md-column-push(1);
            @include make-md-column-offset(1);
            @include make-md-column(10);
            
            z-index: 10;
            
            height: 20vh; margin-top: -2vh;
            
        }
        
         
    }
    
    .pageNum{
        position: absolute;
        bottom: 0px;
        font-size: 10em;
        left: 50%;
        
        @include transform(translate(-50%, 50%));
        
    }
   
}



// Backgrounds
#nextToSchoolBg{
    background: url(../img/nextToSchool/nextToSchoolBg.png) center no-repeat;
    @include background-size(cover);
}

#nextToSchoolPattern{
    background: url(../img/nextToSchool/nextToSchoolPattern.png) repeat;
}

#genBg{
    background: url(../img/gen/genBg.png) center no-repeat;
    @include background-size(cover);
}

#genPattern{
    background: url(../img/gen/genPattern.png) repeat;
}

#slimyBoyBg{
    background: url(../img/slimyBoy/slimyBoyBg.png) center no-repeat;
    @include background-size(cover);
}

#slimyBoyPattern{
    background: url(../img/slimyBoy/slimyBoyPattern.png) repeat;
}

#eveningSuccessBg{
    background: url(../img/eveningSuccess/eveningSuccessBg.png) center no-repeat;
    @include background-size(cover);
}

#eveningSuccessPattern{
    background: url(../img/eveningSuccess/eveningSuccessPattern.png) repeat;
}

#dailyMasterpieceBg{
    background: url(../img/dailyMasterpiece/dailyMasterpieceBg.png) center no-repeat;
    @include background-size(cover);
}

#dailyMasterpiecePattern{
    background: url(../img/dailyMasterpiece/dailyMasterpiecePattern.png) repeat;
}